extends layout

block content
  h2.balance Balance: 256$

  img.chart(src="/img/chart.png")

  .dashboard-container
    ul.category-list
      .category-header Categories
      .items
        li.item Utilities
        li.item.active Food
        li.item Subscriptions
        li.item Transport
        li.item Health
        li.item Restaurant

      li.add-category + Add category

    ul.spend-list
      .spend-header Spend: 356$
      .items
        li.item
          span Mcdonald's
          span.expense -20$
        li.item.active
          span KFC
          span.expense -20$
        li.item 
          span Mcdonald's
          span.expense -20$
        li.item
          span Mcdonald's
          span.expense -30$
        li.item
          span Mcdonald's
          span.expense -50$
        li.item
          span Mcdonald's
          span.expense -50$
        li.item
          span Mcdonald's
          span.expense -50$
        li.item
          span Mcdonald's
          span.expense -50$
      li.add-expense + Add expense

